# Dependencies
node_modules
npm-debug.log*

# Local env files
.env*.local

# Build outputs
.next/
out/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git